{% load movie_tag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1><a href="/" class="editContent"
                       style="outline: none; outline-offset: -2px; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">MovieDeer</a>
                </h1>
            </div>
            <label for="drop" class="toggle">Меню</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li><a href="contact.html"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вхід</a></li>
            </ul>
        </nav>
    </div>
</header>