<div class="main-banner bg bg1" id="home">
    <header class="header">
        <div class="container-fluid px-lg-5">
            <nav class="py-4">
                <div id="logo">
                    <h1><a href="index.html" class="editContent"
                           style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">CourseProject</a>
                    </h1>
                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li class="active"><a href="index.html">Головна</a></li>
                    <li>
                        <label for="drop-2" class="toggle">Категорії <span class="fa fa-angle-down"
                                                                           aria-hidden="true"></span> </label>
                        <a href="#">Категорії <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2">
                        <ul>
                            <li><a href="moviesingle.html">Фільми</a></li>
                            <li><a href="moviesingle.html">Серіали</a></li>
                            <li><a href="moviesingle.html">Мультфільми</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вхід</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="banner-info">
        <p class="editContent">Test</p>
        <h3 class="mb-4 editContent">Test2</h3>
        <div class="ban-buttons">
        </div>
    </div>
</div>
<ol class="breadcrumb editContent">
    <li class="breadcrumb-item">
        <a href="index.html" class="editContent">Головна</a>
    </li>
    <li class="breadcrumb-item active editContent">Окрема сторінка</li>
</ol>