{% load movie_tag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1><a href="/" class="editContent"
                       style="outline: none; outline-offset: -2px; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">MovieDeer</a>
                </h1>
            </div>
            <label for="drop" class="toggle">Меню</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                {% if user.is_authenticated %}
                <li><span style="color: rgb(255, 255, 255); font-weight: 700; margin-right: 10px" >
                    {{ user.username }}
                </span>
                </li>
                <li><a href="{% url 'account_logout' %}"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вихід</a></li>
                {% else %}
                <li><a href="{% url 'account_signup' %}"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Регістрація</a></li>
                <li><a href="{% url 'account_login' %}"
                       style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вхід</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>